<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541358957685-g0049f6je7tlfhmdvfjcv437o4u65pq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541358957685-g0049f6je7tlfhmdvfjcv437o4u65pq5</string>
	<key>API_KEY</key>
	<string>AIzaSyD4QMS7ywhfhcZAD8b4IN1qKEr4bTpwgEk</string>
	<key>GCM_SENDER_ID</key>
	<string>541358957685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dashApp</string>
	<key>PROJECT_ID</key>
	<string>dash-app-ffc85</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-app-ffc85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541358957685:ios:812e0d29bae3d377b1843c</string>
</dict>
</plist>